@CHARSET "UTF-8";

width: 150px;
}
input[type=submit]:hover {
	background-color: #4c4c4c;
}

input[type=text], select {
	width: 55%;
	padding: 2px 12px;
	margin: 4px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password], select {
	width: 55%;
	padding: 2px 12px;
	margin: 4px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100px;
	background-color: #b3b3b3;
	color: white;
	padding: 8px 20px;
	margin: 8px;
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
}