@CHARSET "UTF-8";
input[type=text], select {
    width: 30%;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #5b8f4d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #297435;
}

div {
	margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}