@CHARSET "UTF-8";
input[type=text], select {
    width: 30%;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
	width: 100px;
	margin-left: 30%;
	position:relative;    
}

div#logintext {
	width: 150px;
}


div {
    border-radius: 5px solid;
    background-color: #f2f2f2;
	text-align: center;
}