@CHARSET "UTF-8";

* {
	font-family: 'Droid Sans', sans-serif;
}

body {
	top: 0;
	left: 0;
	background-image: url("pics/stackedweights.jpg");
	background-size: cover;
	position: fixed;
	background-repeat: repeat-y;
	width: 100%;
	height: 100%;
}

#logo {
	border: solid 2px;
	border-radius: 10px;
	width: 100px;
    height: 100px;
}
#navlogo {
	border: solid 2px;
	border-radius: 10px;
	width: 50px;
    height: 50px;
}

div#child {
	font-size: 20px;
	background: rgba(119, 136, 153, .8);
	border-radius: 25px;
	border: 2px solid;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	width: 250px;
	height: 300px;
	margin-left: auto
}

input[type=submit] {
	width: 100px;
	background-color: #b3b3b3;
	color: white;
	padding: 8px 20px;
	margin: 8px;
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
}

input[type=submit]:hover {
	background-color: #4c4c4c;
}

input[type=text], select {
	width: 55%;
	padding: 2px 12px;
	margin: 4px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password], select {
	width: 55%;
	padding: 2px 12px;
	margin: 4px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}