@CHARSET "UTF-8";

* {
	font-family: 'Droid Sans', sans-serif;
	font-style: bold;
}

img {
	size: 40%;
}

.left {
	float:left;
	width: 50%;
}

.right {
	float:left;
	width: 50%;
}

.right img {
	size:10%;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 90%;
	margin-left:auto; 
    margin-right:auto;
    padding: 10px;
}

table, th, td {
	border: 1px solid black;
}

table th {
	height: 30px;
	background-color: rgb(101, 117, 142);
	font-size: 16px;
	font-weight: bold;
}

table img {
	display: block;
	margin: auto;
	width: 100%;
}

table #remove {
	margin-left:auto; 
    margin-right:auto;
}


tr:hover {
	background-color: #f5f5f5
	}