@CHARSET "UTF-8";

* {
	font-family: 'Droid Sans', sans-serif;
	font-style: bold;
}

img {
	size: 40%;
}

.left {
	float:left;
	width: 50%;
}

.right {
	float:left;
	width: 50%;
}

.right img {
	size:10%;
}