@CHARSET "UTF-8";

* {
	font-family: 'PT Sans', sans-serif;
}

nav {
	display: block;

}

#searchbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #233e5c;
	color: white;
	font-size: 20px;
	vertical-align: middle;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(67%);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #233e5c;
	color: white;
	font-size: 20px;
}

nav li {
	float: left;
}

nav ul li:last-child {
	float: right;
}

nav .navlink {
	display: block;
	color: white;
	/* display: inline-block; */
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	float:left;
}

nav a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 18px 20px;
	vertical-align: middle;
	float:left;
} 

a:hover {
	background-color: #789a9c;
}

.button {
    background-color: #233e5c; 
    border: none;
    color: white;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}