@CHARSET "UTF-8";

* {
	font-family: 'Baloo Bhaina', cursive;
}

img.movie {
	border: 3px solid black;
	width: 40px;
	height: 50px:
}

body::before {
	content: "";
	position: fixed;
	background-repeat: repeat-y;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background: url(moviewallpaper.jpg);
	z-index: -1;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: black;
	border: 2px solid #BAC9ED;
	width: 200px;
	height: 40px;
	font-size: 20px;
	cursor: pointer;
}

.smallbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: black;
	border: 1px solid #BAC9ED;
	width: 100px;
	height: 20px;
	font-size: 12px;
	cursor: pointer;
}

.button span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.smallbutton span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
}

.smallbutton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
}

.button:hover span {
	padding-right: 20px;
}

.smallbutton:hover span {
	padding-right: 10px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.smallbutton:hover span:after {
	opacity: 1;
	right: 0;
}

.button:hover {
	background-color: #6C83BA;
	color: white;
}

.smallbutton:hover {
	background-color: #6C83BA;
	color: white;
}

table {
	border-collapse: collapse;
}

table, td {
	border: 2px solid black;
	padding: 5px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-size: 40px;
}

h2 {
	font-size: 40px;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 30px;
}

h4 {
	text-align: center;
	font-size: 25px;
}

